.top_container {
  position: relative;
  padding-top: 100px;
  background-color: #131418;
}

 .c1 {
  position: absolute;
  right: 600px;
  top: 60px;
}

.c2 {
  position: absolute;
  left: 600px;
  bottom: 600px;
}

.pro-big {
  height:96px;
  width: 96px;
}

.skl-big {
  height: 400px;
  width: 400px;
}

#Adi{
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.ti {
  color: #9cf196;
  font-family: 'Satisfy', cursive;
}

h1 {
  color: #9cf196;
  width: 10%;
  margin: 0 auto 0 auto;
  font-family: 'Acme', sans-serif;
}

body {
  margin: 0;
  text-align: center;
}
